<div class="box" style="background-color: <?= $data["background"]  ?>;">
    <div class="row">
        <div class="col-xs-<?= $data["layout"] ?> " style="border-right: 1px solid <?= $data["colorline"]  ?>;">
            <a href="<?= $data["path"]  ?>"><span class="icon <?= $data["icon"] ?> text-center" style="color: <?= $data["coloricon"] ?>;"></span></a>
        </div>
        <div class="col-xs-<?= $data["layout"] ?>" style="color: <?= $data["colortext"] ?>;">
            <?= \ElReport::makeScoreboard("simple",['palette'=>$data["palette"],'title'=>$data["title"],'description'=>$data["description"],'items'=>$data["items"]]) ?>
        </div>
        <?php if(isset($data["features"])) { ?>
        <?= $this->makePartial('$/entopancore/report/partials/utility/_features.htm',["data"=>$data]) ?>
        <?php } ?>
    </div>
</div>