<?php if(isset($data["features"])) { $data["layout"]=4; } else { $data["layout"] = 6;}  ?>
<div style="background-color: <?= $data["background"]  ?>; max-height:200px ;border-radius: 10px">
    <div class="" style="padding: 20px">
        <div class="row">
            <div class="col-xs-6" style="border-right: 1px solid <?= $data["colorline"]  ?>;">
                <a href="<?= $data["path"] ?>"><span class="icon <?= $data["icon"] ?> text-center" style="font-size: 100px;color: <?= $data["coloricon"]  ?>;display: block"></span></a>
            </div>
            <div class="col-xs-6 text-left "style="color: <?= $data["colortext"] ?>">
                <h3><?= $data["title"] ?></h3>
                <p><?= $data["description"] ?></p>
            </div>
<?php if(isset($data["features"])) { ?>
<?= $this->makePartial('$/entopancore/report/partials/utility/_features.htm',["data"=>$data]) ?>
<?php } ?>
        </div>
    </div>
</div>