<div class="box box-chart" style="background-color: <?= $data["background"]  ?>;">
    <a href="<?= $data["path"]  ?>">
    <?= \ElReport::makeScoreboard("bar",['palette'=>$data["palette"],'title'=>$data["title"],'description'=>$data["description"],'items'=>$data["items"]]) ?>

</a>
</div>