<div style="background-color: <?= $data["background"] ?>; max-width:300px;height:200px ;border-radius: 10px">
    <div class="scoreboard-item title-value">
        <a href="<?= $data["path"] ?>"><p class="" style="margin:0px !important;padding: 13px; color:<?= $data["colortitle"]?>"><?= $data["title"] ?></p></a>
        <div class="" style="padding: 2px 2px 2px 10px;">
            <div >
                <ul>
                    <?= \ElReport::makeScoreboard("table",['palette'=>$data["palette"],'title'=>$data["titletable"],'items'=>$data["itemstable"]]) ?>
                </ul>
            </div>
        </div>
    </div>
</div>