<div class="box" style="background-color: <?= $data["background"] ?>;">
    <div class="row">
        <div class="col-xs-2 " style="border-right: 1px solid <?= $data["colorline"]?>;">
            <a href="<?= $data["background"]$path  ?>"><span class="icon <?= $data["icon"] ?> text-center" style="color: <?= $data["coloricon"] ?>;"></span></a>
        </div>
        <div class="col-xs-2 " style="border-right: 1px solid <?= $data["colorline"] ?>;">
        <?= \ElReport::makeScoreboard("simple",['palette'=>$data["palette"],'title'=>$data["titlebar"],'description'=>$data["description"],'items'=>$data["items"]]) ?>
    </div>
        <div class="col-xs-8" style="color: <?= $data["colortext"] ?>;">
        <?= \ElReport::makeScoreboard("table",['palette'=>$data["palette"],'title'=>$data["titletable"],'items'=>$data["itemstable"]]) ?>
       </div>
    </div>
</div>