<div style="background-color: <?= $data["background"] ?>;border-radius: 10px">
    <div class="">
        <div class="row">
            <div class="" style="padding: 30px 10px 10px 10px;">


                <div class="col-xs-3" style="padding: 30px 30px 30px 30px;">
                    <a href="<?= $data["path"] ?>"><span
                            class="icon <?= $data["icon"] ?> text-center"
                            style="font-size: 50px;color:<?= $data["coloricon"] ?>;display: block"></span></a>
                </div>
                <div class="col-xs-3 " style="border-right: 1px solid <?= $data["colorline"]?>;padding: 30px 0px 0px 0px;">
                <?= \ElReport::makeScoreboard("simple",['palette'=>$data["palette"],'title'=>$data["title"],'description'=>$data["description"],'items'=>$data["items"]]) ?>
            </div>
                <div class="col-xs-6 " style=" border-right: 1px solid;padding: 40px 30px 40px 40px;" >
                    <?= \ElReport::makeScoreboard("bar",['palette'=>$data["palette"],'title'=>$data["titlebar"],'items'=>$data["itemsbar"]]) ?>

                </div>
            </div>

        </div>
    </div>
</div>