<?php if(isset($data["features"])): ?>
<div class="col-xs-2" style="color: <?= $data['colortext'] ?>;border-left: 1px solid <?= $data['colorline']  ?>;">
    <ul class="list-unstyled">
        <?php


    	foreach($data["features"] as $f) {
    	echo '<li><a href="'.$data['path'].'/'.$f.'">';
        if($f=="index") {
        echo '<span>'.trans('entopancore.report::lang.view').'</span>';
        }
        if($f=="create") {
        echo '<span>'.trans('entopancore.report::lang.create').'</span>';
        }
        echo '</a></li>';

        }
        ?>

    </ul>
</div>

<?php endif ?>