 <div id="container" style="width: 75%;">
        <canvas id="canvas"></canvas>
    </div>

    <script>
        var DEFAULT_DATASET_SIZE = 7;
        var array = JSON.parse('<?= $data ?>');
//        var bubbleChartData = {
//            animation: {
//                duration: 10000
//            },
//            datasets: [{
//                label: "My First dataset",
//                backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
//                borderColor: window.chartColors.red,
//                borderWidth: 1,
//                data: [{
//                    x: randomScalingFactor(),
//                    y: randomScalingFactor(),
//                    r: Math.abs(randomScalingFactor()) / 5,
//                }, {
//                    x: randomScalingFactor(),
//                    y: randomScalingFactor(),
//                    r: Math.abs(randomScalingFactor()) / 5,
//                }, {
//                    x: randomScalingFactor(),
//                    y: randomScalingFactor(),
//                    r: Math.abs(randomScalingFactor()) / 5,
//                }, {
//                    x: randomScalingFactor(),
//                    y: randomScalingFactor(),
//                    r: Math.abs(randomScalingFactor()) / 5,
//                }, {
//                    x: randomScalingFactor(),
//                    y: randomScalingFactor(),
//                    r: Math.abs(randomScalingFactor()) / 5,
//                }, {
//                    x: randomScalingFactor(),
//                    y: randomScalingFactor(),
//                    r: Math.abs(randomScalingFactor()) / 5,
//                }, {
//                    x: randomScalingFactor(),
//                    y: randomScalingFactor(),
//                    r: Math.abs(randomScalingFactor()) / 5,
//                }]
//
//            }]
//        };

        var options = { responsive: true,
            title:{
                display:true,
                text:'<?= $title ?>'
            }
        };

        var config = {
            type: 'bubble',
            data: array,
            options: options,
            tooltips: {
                mode: 'point'
            }
        };


 var ctx = document.getElementById("canvas-<?= $random ?>").getContext("2d");
 window.myChart = new Chart(ctx,config);


 </script>
