<?php if($data["items"]) { ?>
<p class="title title-scoreboard" style="color:<?= $data["colortitle"] ?>"><?= $data["title"] ?></p>
<div id="<?= str_slug($data["title"]) ?>" class="control-chart" data-size="70"  data-control="chart-bar" title="<?= $data["title"] ?>">
    <ul>
        <?php foreach ($data["items"] as $k=>$v):?>
        <li style="color:<?= $data["colortitle"] ?>!important" ><?php echo ucfirst(str_replace("_"," ",$v->label));?> <span><?php echo $v->count; ?></span></li>
        <?php endforeach ?>
    </ul>
</div>
<style>
    #<?= str_slug($data["title"]) ?> table td
    {
    color:<?= $data["colortitle"] ?>!important;
    }
</style>
<?php } ?>