<p class="title" style="color:<?= $data['colortitle'] ?>;"><?= $data['title'] ?></p>
    <p class="items <?= $data['icon'] ?>" style= "color: <?= $data['coloritem'] ?>;"><span style="margin-right: 10px"></span><?= $data['items'] ?></p>
<p class="description" style="color: <?= $data['colordescription'] ?>;"><?= $data["description"] ?></p>
