    <p class="title" style= "color: <?= $data["colortitle"] ?>;"><?= $data["title"] ?></p>
    <ul class="<?= $data["class"] ?>">
        <?php foreach ($data["items"] as $k=>$v):?>
        <li><span style="color:<?php echo $v->color; ?>" class="oc-icon-circle"><?php echo ucfirst(str_replace("_"," ",$v->label));?></span></li>
        <?php endforeach ?>
    </ul>
