<div class="control-status-list">
    <ul>
        <?php foreach($data["data"] as $item) {?>
        <li>
            <span class="status-text"> <td><?php echo ucfirst($item["title"]); ?></span> <span
                class="status-label primary"><?php echo strip_tags($item["value"]); ?></span> </td>
        </li>
        <?php } ?>
    </ul>
</div>
<p class="description" style= "color: <?= $data["colordescription"] ?>;"><?= $data["description"] ?></p>
