    <p class="title" style= "color: <?= $data["colortitle"] ?>;"><?= $data["title"] ?></p>
    <ul class="list-unstyled">
        <?php foreach($data["items"] as $item): ?>
        <li><?php echo $item->title; ?>
            <?php if(isset($item->value)){ ?> - <?php echo $item->value;?> <?php } ?> </li>
        <?php endforeach; ?>
    </ul>
    <p class="description" style= "color: <?= $data["colordescription"] ?>;"><?= $data["description"] ?></p>
