    <p class="title" style= "color: <?= $data["colortitle"] ?>;"></p>
    <ul class="list-unstyled">
        <?php foreach($data["data"] as $key=>$item): ?>
        <li>Article: <?php echo $key; ?> - Price: <?php echo $item; ?></li>
        <?php endforeach; ?>

    </ul>
    <p class="description" style= "color: <?= $data["colordescription"] ?>;"><?= $data["description"] ?></p>

