<div class="control-status-list">
    <ul>
        <?php foreach( $data["data"] as  $key=>$item) {?>
        <li>
            <span class="status-text"> <td><?php echo ucfirst($key); ?></span> <span
                class="status-label primary"><?php echo strip_tags($item); ?></span> </td>
        </li>
        <?php } ?>

    </ul>
</div>
