    <p class="title" style= "color: <?= $data["colortitle"] ?>;"><?= $data["title"] ?></p>
    <p class="items" style= "color: <?= $data["coloritem"] ?>;"><?= $data["items"] ?></p>
    <p class="description" style= "color: <?= $data["colordescription"] ?>;"><?= $data["description"] ?></p>
