<p  class="title" style=""><?= $data["titletable"] ?></p>
        <table class="table">
            <?php foreach( $data["itemstable"] as $item) {?>
            <tr>
                <td><?php echo $item->label; ?> (<span class="status-label primary"><?php echo strip_tags($item->count); ?></span>)</td>
            </tr>
            <?php } ?>
</table>