.box
{
    min-height:150px;
    border-radius: 2px;
    padding: 20px;
    overflow: hidden;
    margin-bottom: 30px;
}
.box-chart
{
    min-height: 170px;
}
.box .title,.scoreboard-item .title
{
    font-weight: 900;
    font-size: 13px;
    color: inherit;
    text-transform: uppercase;
}
.box .title-scoreboard
{
    margin-bottom: 20px;
}
.box .description,.scoreboard-item .description
{
    font-weight: 300;
    font-size: 10px;
}
.box .items,.scoreboard-item .items
 {
     font-weight: 300;
     font-size: 22px;
 }
.box .row > div
{
    min-height:80px;
}
.box a
{
    color:inherit;
    text-decoration: none;
}
.box a:hover
{
    text-decoration: none;
}
.box .icon
{
    font-size: 44px;
    display: block;
    text-align: center;
    line-height:80px;
}
.box ul li a
{
    text-decoration: none;
    color:inherit;
    font-size:12px;
    line-height: 12px;
    text-transform: uppercase;
}
.box ul li a:hover
{
    text-decoration: underline;
}



