#layout-body {
    padding-bottom: 100px;
}

#chart {
    height: 300px;
}


.chart_dashboard {
    padding: 20px;
    background: white;
    width: 100%;
    max-height: 400px;
    min-height: 300px;
    margin-bottom: 15px;
    border-radius: 2px;
}

.no-max-height
{
    max-height: 1000000px;
}
.chart_dashboard .chart_dashboard_gear {
    font-size: 15px;
    float: right;
    z-index: 100000;
    color: rgba(0, 0, 0, 0.20);
    margin-right: 5px;
}

.chart_dashboard_title {
    color: rgba(0, 0, 0, 0.50);
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.chart_dashboard_message {
    color: rgba(0, 0, 0, 0.50);
    font-weight: 600;
    font-size: 12px;
    margin-top: 50px;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
}





@media only screen  and (min-width : 1224px) {
    #chart {
        height: 300px;
        width: 400px;
        margin: 0 auto;
    }
    #chart-line {
        max-height: 400px;
        min-height: 300px;
        width: 100%;
        margin: 0 auto;
    }
    #chart-bar {
        max-height: 400px;
        min-height: 300px;
        width: 100%;
        margin: 0 auto;
    }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
    #chart {
        height: 400px;
        width: 400px;
        margin: 0 auto;
    }
    #chart-line {
        height: 400px;
        width: 100%;
        margin: 0 auto;
    }
    #chart-bar {
        height: 400px;
        width: 100%;
        margin: 0 auto;
    }
}