.scoreboard .scoreboard-item
{
    display: inline-block;
    margin-right: 10px !important;
    padding-right: 20px !important;;
    margin-bottom: 20px !important;;
    vertical-align: top;
    border-right: 1px solid rgba(0, 0, 0, 0.07);
}

.box
{
    min-height:150px;
    border-radius: 2px;
    padding: 20px;
    overflow: hidden;
    margin-bottom: 30px;
}
.box-chart
{
    min-height: 170px;
}
.box .title,.scoreboard-item .title
{
    font-weight: 900;
    font-size: 13px;
    color: inherit;
    text-transform: uppercase;
}
.box .title-scoreboard
{
    margin-bottom: 20px;
}
.box .description,.scoreboard-item .description
{
    font-weight: 300;
    font-size: 10px;
}
.box .items,.scoreboard-item .items
{
    font-weight: 300;
    font-size: 22px;
    text-align: center;
}
.box .row > div
{
    min-height:80px;
}
.box a
{
    color:inherit;
    text-decoration: none;
}
.box a:hover
{
    text-decoration: none;
}
.box .icon
{
    font-size: 44px;
    display: block;
    text-align: center;
    line-height:80px;
}
.box ul li a
{
    text-decoration: none;
    color:inherit;
    font-size:12px;
    line-height: 12px;
    text-transform: uppercase;
}
.box ul li a:hover
{
    text-decoration: underline;
}







.chart_dashboard
{

    width: 100%;
}
.chart_dashboard .chart_dashboard_gear
{
    font-size: 15px;
    float: right;
    color: rgba(0, 0, 0, 0.20);
    margin-right: 5px;
}

.chart_dashboard_title
{
    font-weight: 900;
    font-size: 13px;
    color: inherit;
    text-transform: uppercase;
}
.chart_dashboard_message
{
    color: rgba(0, 0, 0, 0.50);
    font-weight: 600;
    font-size: 12px;
    margin-top: 50px;
    margin-bottom: 30px;
    text-transform:uppercase;
    text-align: center;
}

.control-status-list > ul li
{
    margin: 0;
    padding: 7px 15px 6px;
    list-style: none;
    display: block;
    font-size: 13px;
    color: #7e8c8d;
    border-bottom: 1px solid #f0f0f0;
}


